Frontend/dist
Frontend/tmp
Frontend/out-tsc
Frontend/bazel-out
Frontend/node_modules
Frontendchrome-profiler-events*.json
Frontend/.idea
Frontend.project
Frontend.classpath
Frontend.c9/
Frontend*.launch
Frontend.settings/
Frontend*.sublime-workspace
Frontend.vscode/*
Frontend!.vscode/settings.json
Frontend!.vscode/tasks.json
Frontend!.vscode/launch.json
Frontend!.vscode/extensions.json
Frontend.history/*
Frontend/.sass-cache
Frontend/connect.lock
Frontend/coverage
Frontend/libpeerconnection.log
Frontendnpm-debug.log
Frontendyarn-error.log
Frontendtestem.log
Frontend/typings
Frontend.DS_Store
FrontendThumbs.db