<div class="container-fluid bg-gradient-dark">



    <div class="row">
        <div class="col">
            <div class="card bg-dark text-white border-left-info border-secondary mb-5 mt-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Información de cotizaciónes registradas</h4>
                        </div>
                        <div class="col-lg-4 offset-lg-2">
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search"
                                    placeholder="Nombre del cliente" aria-label="Buscar">
                                <button class="btn btn-success my-2 my-sm-0"
                                    type="submit">Buscar</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table
                                class="table table-bordered table-dark table-hover table-responsive-md">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Cliente</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Monto total</th>
                                        <th scope="col">Acciónes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Lorem ipsum dolor sit</td>
                                        <td>Lorem ipsum dolor sit, amet consectetur <br>Lorem ipsum
                                            dolor sit, amet consectetur <br>Lorem ipsum dolor sit, amet
                                            consectetur</td>
                                        <td>12 de junio del 2021</td>
                                        <td>$5500.00</td>
                                        <td class="text-center">
                                            <button class="btn btn-info" data-toggle="tooltip"
                                                data-placement="top" title="Ver cotizacioń">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                            <button class="btn btn-primary" data-toggle="tooltip"
                                                data-placement="top" title="Editar cotizacioń">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger" data-toggle="tooltip"
                                                data-placement="top" title="Eliminar cotizacioń">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Lorem ipsum dolor sit</td>
                                        <td>Lorem ipsum dolor sit, amet consectetur <br>Lorem ipsum
                                            dolor sit, amet consectetur <br>Lorem ipsum dolor sit, amet
                                            consectetur</td>
                                        <td>12 de junio del 2021</td>
                                        <td>$5500.00</td>
                                        <td class="text-center">
                                            <button class="btn btn-info" data-toggle="tooltip"
                                                data-placement="top" title="Ver cotizacioń">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                            <button class="btn btn-primary" data-toggle="tooltip"
                                                data-placement="top" title="Editar cotizacioń">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger" data-toggle="tooltip"
                                                data-placement="top" title="Eliminar cotizacioń">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Lorem ipsum dolor sit</td>
                                        <td>Lorem ipsum dolor sit, amet consectetur <br>Lorem ipsum
                                            dolor sit, amet consectetur <br>Lorem ipsum dolor sit, amet
                                            consectetur</td>
                                        <td>12 de junio del 2021</td>
                                        <td>$5500.00</td>
                                        <td class="text-center">
                                            <button class="btn btn-info" data-toggle="tooltip"
                                                data-placement="top" title="Ver cotizacioń">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                            <button class="btn btn-primary" data-toggle="tooltip"
                                                data-placement="top" title="Editar cotizacioń">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger" data-toggle="tooltip"
                                                data-placement="top" title="Eliminar cotizacioń">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Lorem ipsum dolor sit</td>
                                        <td>Lorem ipsum dolor sit, amet consectetur <br>Lorem ipsum
                                            dolor sit, amet consectetur <br>Lorem ipsum dolor sit, amet
                                            consectetur</td>
                                        <td>12 de junio del 2021</td>
                                        <td>$5500.00</td>
                                        <td class="text-center">
                                            <button class="btn btn-info" data-toggle="tooltip"
                                                data-placement="top" title="Ver cotizacioń">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                            <button class="btn btn-primary" data-toggle="tooltip"
                                                data-placement="top" title="Editar cotizacioń">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger" data-toggle="tooltip"
                                                data-placement="top" title="Eliminar cotizacioń">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Lorem ipsum dolor sit</td>
                                        <td>Lorem ipsum dolor sit, amet consectetur <br>Lorem ipsum
                                            dolor sit, amet consectetur <br>Lorem ipsum dolor sit, amet
                                            consectetur</td>
                                        <td>12 de junio del 2021</td>
                                        <td>$5500.00</td>
                                        <td class="text-center">
                                            <button class="btn btn-info" data-toggle="tooltip"
                                                data-placement="top" title="Ver cotizacioń">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                            <button class="btn btn-primary" data-toggle="tooltip"
                                                data-placement="top" title="Editar cotizacioń">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger" data-toggle="tooltip"
                                                data-placement="top" title="Eliminar cotizacioń">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Lorem ipsum dolor sit</td>
                                        <td>Lorem ipsum dolor sit, amet consectetur <br>Lorem ipsum
                                            dolor sit, amet consectetur <br>Lorem ipsum dolor sit, amet
                                            consectetur</td>
                                        <td>12 de junio del 2021</td>
                                        <td>$5500.00</td>
                                        <td class="text-center">
                                            <button class="btn btn-info" data-toggle="tooltip"
                                                data-placement="top" title="Ver cotizacioń">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                            <button class="btn btn-primary" data-toggle="tooltip"
                                                data-placement="top" title="Editar cotizacioń">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger" data-toggle="tooltip"
                                                data-placement="top" title="Eliminar cotizacioń">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Lorem ipsum dolor sit</td>
                                        <td>Lorem ipsum dolor sit, amet consectetur <br>Lorem ipsum
                                            dolor sit, amet consectetur <br>Lorem ipsum dolor sit, amet
                                            consectetur</td>
                                        <td>12 de junio del 2021</td>
                                        <td>$5500.00</td>
                                        <td class="text-center">
                                            <button class="btn btn-info" data-toggle="tooltip"
                                                data-placement="top" title="Ver cotizacioń">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                            <button class="btn btn-primary" data-toggle="tooltip"
                                                data-placement="top" title="Editar cotizacioń">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger" data-toggle="tooltip"
                                                data-placement="top" title="Eliminar cotizacioń">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>Lorem ipsum dolor sit</td>
                                        <td>Lorem ipsum dolor sit, amet consectetur <br>Lorem ipsum
                                            dolor sit, amet consectetur <br>Lorem ipsum dolor sit, amet
                                            consectetur</td>
                                        <td>12 de junio del 2021</td>
                                        <td>$5500.00</td>
                                        <td class="text-center">
                                            <button class="btn btn-info" data-toggle="tooltip"
                                                data-placement="top" title="Ver cotizacioń">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                            <button class="btn btn-primary" data-toggle="tooltip"
                                                data-placement="top" title="Editar cotizacioń">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger" data-toggle="tooltip"
                                                data-placement="top" title="Eliminar cotizacioń">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>Lorem ipsum dolor sit</td>
                                        <td>Lorem ipsum dolor sit, amet consectetur <br>Lorem ipsum
                                            dolor sit, amet consectetur <br>Lorem ipsum dolor sit, amet
                                            consectetur</td>
                                        <td>12 de junio del 2021</td>
                                        <td>$5500.00</td>
                                        <td class="text-center">
                                            <button class="btn btn-info" data-toggle="tooltip"
                                                data-placement="top" title="Ver cotizacioń">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                            <button class="btn btn-primary" data-toggle="tooltip"
                                                data-placement="top" title="Editar cotizacioń">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger" data-toggle="tooltip"
                                                data-placement="top" title="Eliminar cotizacioń">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>Lorem ipsum dolor sit</td>
                                        <td>Lorem ipsum dolor sit, amet consectetur <br>Lorem ipsum
                                            dolor sit, amet consectetur <br>Lorem ipsum dolor sit, amet
                                            consectetur</td>
                                        <td>12 de junio del 2021</td>
                                        <td>$5500.00</td>
                                        <td class="text-center">
                                            <button class="btn btn-info" data-toggle="tooltip"
                                                data-placement="top" title="Ver cotizacioń">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                            <button class="btn btn-primary" data-toggle="tooltip"
                                                data-placement="top" title="Editar cotizacioń">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger" data-toggle="tooltip"
                                                data-placement="top" title="Eliminar cotizacioń">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                  <li class="page-item">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item">
                                    <a class="page-link" href="#">Siguiente</a>
                                  </li>
                                </ul>
                              </nav>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>