<div class="container-fluid bg-gradient-dark">

    <div class="row">
        <div class="col">
            <p>
                <button class="btn btn-success mt-4" type="button" (click)="accionFormSalario()">
                    <i class="fas fa-plus-circle"></i> Registrar un nuevo salario
                </button>
            </p>
            <div class="collapse" id="formSalario">
                <div class="card bg-dark text-white border-left-success border-secondary mb-5 mt-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Registro de un nuevo salario</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <form [formGroup]="form" (ngSubmit)="agregarSalario()">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="inputNombre">Nombre de salario:</label>
                                            <input type="text" class="form-control" formControlName="nombre">
                                            <small *ngIf="FormValidator.getStatus('nombre')" class="text-warning"><i
                                                    class="fas fa-exclamation-triangle"></i> Es
                                                necesario el nombre
                                            </small>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputNombre">Cantidad:</label>
                                            <input type="number" class="form-control" formControlName="cantidad">
                                            <small *ngIf="FormValidator.getStatus('cantidad')" class="text-warning"><i
                                                    class="fas fa-exclamation-triangle"></i> Es
                                                necesaria la cantidad del salario
                                            </small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-right">
                                            <button *ngIf="!isacutalizarSalario" [disabled]="form.invalid" type="submit"
                                                class="btn btn-success">Agregar salario</button>
                                            <button *ngIf="isacutalizarSalario" [disabled]="form.invalid" type="submit"
                                                class="btn btn-info">Editar salario</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card bg-dark text-white border-left-success border-secondary mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Información de los salarios registrados</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table class="table table-bordered table-dark table-hover table-responsive-md mt-4">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Monto</th>
                                        <th class="text-center" scope="col">Acciónes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let salario of salarios">
                                        <td>{{salario.id}}</td>
                                        <td>{{salario.nombre}}</td>
                                        <td>{{salario.cantidad | currency}}</td>
                                        <td class="text-center">
                                            <button class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                                                title="Editar información del salario" (click)="editarSalario(salario)">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <!-- <button class="btn btn-danger ml-2" data-toggle="tooltip"
                                                data-placement="top" title="Borrar salario">
                                                <i class="fas fa-trash"></i>
                                            </button> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Siguiente</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>