<div class="container-fluid bg-gradient-dark">



    <div class="row">
        <div class="col">
            <div class="card bg-dark text-white border-left-primary border-secondary mb-5 mt-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <h4>Información de clientes registrados</h4>
                        </div>
                        <div class="col-lg-4 offset-lg-3">
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search"
                                    placeholder="Nombre del cliente" aria-label="Buscar">
                                <button class="btn btn-success my-2 my-sm-0"
                                    type="submit">Buscar</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table
                                class="table table-bordered table-dark table-hover table-responsive-md mt-4">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Teléfono</th>
                                        <th scope="col">Correo</th>
                                        <th scope="col">Direcciónes</th>
                                        <th scope="col">Acciónes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Lorem ipsum dolor sit</td>
                                        <td>231-140-5938</td>
                                        <td>Culpaquaerato@adipisicing.com</td>
                                        <td>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-info" data-toggle="tooltip"
                                                data-placement="top" title="Ver historial del cliente">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Lorem ipsum dolor sit</td>
                                        <td>231-140-5938</td>
                                        <td>Culpaquaerato@adipisicing.com</td>
                                        <td>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-info" data-toggle="tooltip"
                                                data-placement="top" title="Ver historial del cliente">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Lorem ipsum dolor sit</td>
                                        <td>231-140-5938</td>
                                        <td>Culpaquaerato@adipisicing.com</td>
                                        <td>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-info" data-toggle="tooltip"
                                                data-placement="top" title="Ver historial del cliente">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Lorem ipsum dolor sit</td>
                                        <td>231-140-5938</td>
                                        <td>Culpaquaerato@adipisicing.com</td>
                                        <td>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-info" data-toggle="tooltip"
                                                data-placement="top" title="Ver historial del cliente">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Lorem ipsum dolor sit</td>
                                        <td>231-140-5938</td>
                                        <td>Culpaquaerato@adipisicing.com</td>
                                        <td>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-info" data-toggle="tooltip"
                                                data-placement="top" title="Ver historial del cliente">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Lorem ipsum dolor sit</td>
                                        <td>231-140-5938</td>
                                        <td>Culpaquaerato@adipisicing.com</td>
                                        <td>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-info" data-toggle="tooltip"
                                                data-placement="top" title="Ver historial del cliente">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Lorem ipsum dolor sit</td>
                                        <td>231-140-5938</td>
                                        <td>Culpaquaerato@adipisicing.com</td>
                                        <td>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-info" data-toggle="tooltip"
                                                data-placement="top" title="Ver historial del cliente">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>Lorem ipsum dolor sit</td>
                                        <td>231-140-5938</td>
                                        <td>Culpaquaerato@adipisicing.com</td>
                                        <td>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                            Col. El pinal no. 23 <br>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-info" data-toggle="tooltip"
                                                data-placement="top" title="Ver historial del cliente">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                  <li class="page-item">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item">
                                    <a class="page-link" href="#">Siguiente</a>
                                  </li>
                                </ul>
                              </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
