 
    <!-- Begin Page Content -->
    <div class="container-fluid bg-white p-3 text-black" (click)="imprimir()">
        <div class="row">
            <div class="col-3 justify-content-center align-items-center minh-100 mt-5">
                <img src="assets/img/logo positivo- cotizacion.png" class="img-fluid rounded mx-auto d-block" alt="">
            </div>
            <div class="col-9 text-right">
                <div class="card border-dark text-left">
                    <div class="card-header bg-dark text-white">
                        <div class="row">
                            <div class="col"><h2>Cotización</h2></div>
                            <div class="col-auto"><p class="text-lg pt-2">22 de septiembre del 2021</p></div>
                        </div>
                        
                        
                    </div>
                    <div class="card-body text-dark">
                        <h5><p>Nombre: Nombre del cliente</p></h5>
                        <h5><p>Dirección: dirección del cliente</p></h5>
                        <h5><p>Teléfono: teléfono del cliente</p></h5>
                    </div>
                </div>
                <p><b>*La cotización tiene una vigencia de 7 días hábiles</b></p>
            </div>
        </div>

        <div class="row">
            <div class="container-fluid">
                <p>Materíal de cotización</p>
                <p>Materíal de cotización</p>
                <p>Materíal de cotización</p>
                <p>Materíal de cotización</p>
                <p>Materíal de cotización</p>
                <p>Materíal de cotización</p>
                <p>Materíal de cotización</p>
                <p>Materíal de cotización</p>
                <p>Materíal de cotización</p>
                <p>Materíal de cotización</p>
                <p>Materíal de cotización</p>
                <p>Materíal de cotización</p>
                <p>Materíal de cotización</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3 offset-2"><label for="cotizacionMaterialCb"><input type="checkbox" id="cotizacionMaterialCb" class=""><b> Materiales</b></label></div>
            <div class="col-3"><label for="cotizacionManoObraCb"><input type="checkbox" id="cotizacionManoObraCb" class=""><b> Mano de obra</b></label></div>
            <div class="col-3"><label for="cotizacionInstalacionCb"><input type="checkbox" id="cotizacionInstalacionCb" class=""><b> Instalación</b></label></div>
        </div>
        <div class="row">
            <div class="col">
                <hr class="sidebar-divider text-black">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row"><div class="col"><small><b>1.- Se require un mínimo del 60% de anticipo, el anticipo restante al finalizar el trabajo</b></small></div></div>
                <div class="row"><div class="col"><small><b>2.- PORTANA no reconoce convenios verbales</b></small></div></div>
                <div class="row"><div class="col"><small><b>3.- Precios más IVA</b></small></div></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr class="sidebar-divider text-black">
            </div>
        </div>
        
        <div class="row">
            <div class="col text-center ">
                <p><b>Felipe Pescador #40 Col. El Pinal Teziutlán, Pue.</b></p>
                <p><b><i class="fab fa-whatsapp"></i> 231.106.5878</b></p>
            </div>
        </div>

    
</div>
